/* ===============================
        Responsive Header
=============================== */

/* 980px */
@media(max-width: 900px){
    .mobile-navbar-btn{
        display: block;
        z-index: 9999;
    }

    .navbar_list{
        font-size: 25px;
    }

    .header{
        padding: 36px;
    }
    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar_list{
        flex-direction: column;
        align-items: center;
    }

    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="Nav_close"]{
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="Nav_icon"]{
        display: none;
    }
}
/* ===============================
        Hero Section
=============================== */

@media (max-width: 962px){
    .section-hero {
        height: auto;
        padding: 110px 0;
    }
    .content {
        flex-direction: column;
        gap: 30px;
        height: auto;
        text-align: center;
    }
    .hero-main {
        flex-direction: column-reverse;
        gap: 30px;
        height: auto;
        text-align: center;
    }
    .hero-text img {
        right: 30px;
    }
    .hero-text p {
        margin-bottom: 50px;
    }
    .hero-text span {
        gap: 1.6rem;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: -20px;
    }
    .skills {
        flex-direction: column;
        position: static;
    }
    .skills p {
        border-bottom: 2px solid rgba(45,46,50,.5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }
    .skills ul {
        justify-content: center;
    }
    .skills ul li {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.09);
        cursor: pointer;
        display: flex;
        height: 65px;
        justify-content: center;
        width: 65px;
    }
}
@media (max-width: 500px){
    .hero-img{
        height: 280px;
        width: 280px;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .hero-text img {
        height: 45px;
        right: 4rem;
        top: 6.4rem;
        width: 45px
    }
}
/* ===============================
        Responsive Footer
=============================== */



@media (max-width: 900px) {
    .footer-text {
      padding: 0 36px;
    }
    .social_list {
      padding-right: 36px;
    }
  }
  
  @media (max-width: 650px) {
    .footer_container {
      flex-direction: column;
      height: 115px;
      text-align: center;
    }
    .footer-text {
      position: static;
      margin-top: 10px;
    }
    .social_list {
      margin: 0;
      width: 100%;
      justify-content: center;
      padding: 0;
    }
  }

  