/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-color: #2d2e32;
  --paragraph-color: #555;
  --primery-color: #eee;
  --secondary-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--font-color);
}

/* ===============================
          Back To Top
=============================== */
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
  margin: auto;
}

/* ===============================
            Intro
=============================== */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  z-index: 999999;
  color: #333;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  z-index: -1000;
  color: #333;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.splash p {
  margin-top: 30px;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* confetti */

.confetti-container {
  height: 100%;
  position: relative;
  z-index: 9999999;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.confetti-container.hidden {
  opacity: 0;
  pointer-events: none; /* Disable click events when hidden */
  -webkit-transition: all ease-out;
  -o-transition: all ease-out;
  transition: all ease-out;
}
.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-animation: confetti 5s ease-in-out -2s infinite;
  animation: confetti 5s ease-in-out -2s infinite;
}

.confetti:nth-child(1) {
  background-color: #ff9933;
  left: 10%;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #ffffff;
  left: 20%;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #138808;
  left: 30%;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #ff9933;
  left: 40%;
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #ffffff;
  left: 50%;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #138808;
  left: 60%;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #ff9933;
  left: 70%;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #ffffff;
  left: 80%;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #138808;
  left: 90%;
  -webkit-animation-delay: -3.5s;
  animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #ff9933;
  left: 100%;
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s;
}

.hide-confetti {
  opacity: 0 !important;
  -webkit-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}
@-webkit-keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  /* 25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  } */
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}
@keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  /* 25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  } */
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}
.intro-button {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.splash h1 {
  font-size: 36px; /* Choose your desired font size */
  color: #0074d9; /* Choose your desired text color */
}

.splash p {
  font-size: 18px; /* Choose your desired font size */
  color: #333; /* Choose your desired text color */
}

/* ===============================
            Header
=============================== */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.sticky + .content {
  padding-top: 102px;
}

.header {
  position: sticky;
  padding: 0 100px;
  height: 8.6vh;
  width: 100%;
  background-color: var(--secondary-color);
  -webkit-box-shadow: -1px 8px 17px 2px rgba(0, 0, 0, 0.04);
  box-shadow: -1px 8px 17px 2px rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header .logo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--font-color);
}

.navbar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
  padding: 0;
}

.navbar-link {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: var(--font-color);
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-link.active1,
.navbar-link:hover {
  color: #137efb;
}

.fa-sun:before {
  content: '\f185'; /* Unicode for sun icon */
  color: black;
}

.fa-moon:before {
  content: '\f186'; /* Unicode for moon icon */
  color: white;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-nav-icon[name='Nav_close'] {
  display: none;
}

.mobile-nav-icon,
.dark-mode-toggle {
  fill: white;
  cursor: pointer;
}
/* Dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown button */
#darkModeDropdown {
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 120px;
  z-index: 1;
}

/* Dropdown content links */
.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dropdown content links on hover */
.dropdown-content a:hover {
  background-color: #137efb;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* ===============================
            Section
=============================== */
.section:nth-child(even) {
  background-color: #eee !important;
}

.section:nth-child(odd) {
  background-color: #fff !important;
}

/* ===============================
        Hero Section
=============================== */
.section-hero {
  padding: 50px 0;
  background-color: #eee;
  height: 100vh;
  top: 0;
}
section {
  -webkit-transition: background-color 0.5s ease, color 0.3s ease;
  -o-transition: background-color 0.5s ease, color 0.3s ease;
  transition: background-color 0.5s ease, color 0.3s ease;
}
.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 40px;
}

.content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  height: 650px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.hero-main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 168px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 500px;
  position: relative;
}
.hero-text h1 {
  font-size: 55px;
  line-height: 65px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.hero-text img {
  height: 60px;
  position: absolute;
  right: 130px;
  top: 87px;
  width: 60px;
}
.hero-text p {
  color: var(--paragraph-color);
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
.hero-text .social-logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  margin: 25px 0;
}
.hero-text .social-logo a {
  color: #2d2e32;
  font-size: 30px;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 128px;
}
.button:active {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}
.skill {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
  color: #767676;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  left: 0;
  position: absolute;
}
.skill p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  margin-right: 70px;
  padding-right: 20px;
  font-size: 17px;
}
.skill ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}
.skill ul li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 65px;
}

.logos ul li {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

/* ===============================
        About Section
=============================== */
.section-about {
  padding: 96px 0;
  background-color: var(--primery-color);
  min-height: 655px;
  top: 0;
  background-color: #fff;
  padding: 150px 0;
}

.about-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.img-side {
  position: relative;
}
.work-emoji {
  bottom: 8px;
  position: absolute;
  right: 102px;
  width: 60px !important;
  z-index: 10;
}
.img-side__main-img {
  border-radius: 17px;
  height: 350px;
  width: 410px;
}
.img-side span {
  background-color: #fff;
  border-radius: 50%;
  bottom: -33px;
  height: 190px;
  position: absolute;
  right: 33px;
  width: 190px;
}
.img-side span img {
  -webkit-animation: rotate 9s linear infinite;
  animation: rotate 9s linear infinite;
  width: 190px;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.text-side {
  padding-right: 15px;
}
.text-side h3 {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.text-side h4 {
  font-family: Poppins, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
.text-side p {
  color: #767676;
  font-family: Mulish, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}
/* ===============================
        Projects Section
=============================== */

.section-project {
  background-color: var(--primery-color);
  height: auto;
  top: 0;
}

.project {
  padding: 74px 0;
}

.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project-content p {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.project-content h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.project-content h4 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

.project-content h4::after {
  content: ' ';
  font-size: 28px;
  vertical-align: middle;
}

.project-content h4 {
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.project-content h4:hover {
  color: #ff6600; /* Change to your preferred hover color */
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.projects-grid {
  grid-gap: 50px;
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 50px auto;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}

.projects-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.projects-grid > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.projects-grid .pro__1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 80px;
  height: 400px;
  padding: 20px;
}

.projects-grid .pro {
  background-color: #fff;
  border-radius: 17px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-grid .pro__img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 17px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  width: 530px;
}

.element.style {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 10s ease-in-out 0s;
  transition: -webkit-transform 10s ease-in-out 0s;
  -o-transition: transform 10s ease-in-out 0s;
  transition: transform 10s ease-in-out 0s;
  transition: transform 10s ease-in-out 0s, -webkit-transform 10s ease-in-out 0s;
}

.projects-grid .pro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 300px;
}

.projects-grid .pro__text h3 {
  font-size: 17px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}

.projects-grid .pro__text p {
  color: #767676;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}

.stack p {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000 !important;
  font-family: Mulish, sans-serif !important;
  font-weight: 600 !important;
  padding: 10px 13px;
}

.links,
.links a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links {
  gap: 10px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 30px;
  margin: 17px auto -7px auto;
}

.links a i {
  font-size: 20px;
}

.links a {
  font-size: 17px;
  font-weight: 500;
  gap: 5px;
  text-decoration: none;
  color: #2d2e32;
}

.projects-grid .pro__1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 80px;
  height: 340px;
  padding: 20px;
}

.projects-grid .pro {
  background-color: #fff;
  border-radius: 37px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-grid .pro__img img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 7s ease-in-out;
  transition: -webkit-transform 7s ease-in-out;
  -o-transition: transform 7s ease-in-out;
  transition: transform 7s ease-in-out;
  transition: transform 7s ease-in-out, -webkit-transform 7s ease-in-out; /* Added a transition property */
}

/* Hover effect: Scroll image from top to bottom */
.projects-grid .pro__img:hover img {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(
    -50%
  ); /* Adjust this value to control the amount of scroll */
}

.reversed-proj {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.projects-grid .pro__video {
  width: 530px; /* Set the desired width for your video container */
}

.projects-grid .pro__video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  z-index: -1;
}

.projects-grid .pro__video video {
  width: 100%; /* Make the video element take up the full width of its container */
  height: auto; /* Maintain aspect ratio based on the video's intrinsic size */
  border-radius: 17px;
}

.load-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  width: 180px;
  height: 52px;
  text-transform: uppercase;
  background-color: var(--font-color);
  color: white;
  margin: 0 auto;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  margin-top: 50px;
}
/* .load-more:hover{
  background-color: rgba(28, 29, 32, 0.53);
  color: inherit;
} */

.post li:nth-child(2) ~ li {
  display: none;
}

/* loader */
.loading {
  display: none;
  height: 32px;
  width: 32px;
  margin: 0 auto;
  -webkit-animation: loading1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: loading1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loading div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}
@-webkit-keyframes loading1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  clip: rect(16px, 32px, 32px, 0);
}

.loading::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border: 3px solid transparent;
  border-radius: 50%;
  -webkit-animation: loading1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: loading1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loading::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-top: 3px solid rgb(105, 105, 255);
  border-radius: 50%;
  -webkit-animation: loading1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: loading1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.load-more.show-loader {
  width: 52px;
  background-color: white;
  text-indent: -9999px;
}
.load-more.show-loader .loading {
  display: block;
}
.load-more.loaded {
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: visibility 0.3s 3s, opacity 0.3s 3s, height 0.3s 3s;
  -o-transition: visibility 0.3s 3s, opacity 0.3s 3s, height 0.3s 3s;
  transition: visibility 0.3s 3s, opacity 0.3s 3s, height 0.3s 3s;
}

.post ul li {
  margin-top: 50px;
}

/* ===============================
        Contact Section
=============================== */
.section-contact {
  background-color: var(--primery-color);
  top: 0;
  position: relative;
}
.contact {
  padding: 112px 0;
}
.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact__title p {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contact__title h3 {
  font-size: 25px;
}
.contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 60px;
}
.contact__icon-box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.contact__icon-box span {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 23px;
}
.contact__icon-box span i {
  color: #147efb;
  font-size: 30px;
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 05px;
}
.contact__info h3 {
  font-size: 17px;
}
.contact__info a,
.contact__info p {
  color: #767676;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
}
.contact__icon-box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.contact__icon-box span {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 23px;
}
.contact__icon-box span i {
  color: #147efb;
  font-size: 30px;
}

/* Apply the rotation animation to the icons when hovered */
.contact__icon-box span i {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
/* Apply the rotation animation to the icons when hovered */
.contact__icon-box span:hover i {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* ===============================
            footer
=============================== */
/* .footer{
    padding: 0 100px ;
    height: 8.6vh;
    width: 100%;
    background-color: #2D2E32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-text{
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

.footer-text{
    color: white;
    padding-left: 100px;
    margin-top: 31px;
    position: absolute;
}

.social_list{
    display: flex;
    gap: 23px;
    float: right;
    padding-right: 100px;
    margin-top: 31px;
}

.socail-link{
    transition: .3s;
}

.footer_container{
    display: flex;
    height: 90px;
}

.box1{
    flex: 1;
    width: 100%;
    height: 90px;
    background-color: #2D2E32;
}

.box2{
    flex: 1;
    width: 100%;
    height: 90px;
    background-color: #2D2E32;
    margin-left: auto;
    align-items: center;
} */
footer {
  background-color: #2d2e32;
  padding: 20px 0;
  width: 100%;
}
.footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer p {
  color: #fff;
}
.footerc__socials {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}
.footerc__socials a {
  color: #fff;
  font-size: 23px;
}
