@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --font-color: #2D2E32; 
    --paragraph-color: #555;
    --primery-color: #eee;
    --secondary-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--font-color);
}


/* ===============================
          Back To Top
=============================== */
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

/* ===============================
            Intro
=============================== */
.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 999999;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: -1000;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: all 0.5s;
}

.splash p{
  margin-top: 30px;
}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

/* confetti */

.confetti-container {
  height: 100%;
}

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  transform-origin: left top;
  animation: confetti 5s ease-in-out -2s infinite;
}

.confetti:nth-child(1) {
  background-color: #FF9933;
  left: 10%;
  animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #FFFFFF;
  left: 20%;
  animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #138808;
  left: 30%;
  animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #FF9933;
  left: 40%;
  animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #FFFFFF;
  left: 50%;
  animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #138808;
  left: 60%;
  animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #FF9933;
  left: 70%;
  animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #FFFFFF;
  left: 80%;
  animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #138808;
  left: 90%;
  animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #FF9933;
  left: 100%;
  animation-delay: -2.5s;
}


@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  /* 25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  } */
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

/* ===============================
            Header
=============================== */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.sticky + .content {
  padding-top: 102px;
}

.header {
  position: sticky;
  padding: 0 100px;
  height: 8.6vh;
  width: 100%;
  background-color: var(--secondary-color);
  box-shadow: -1px 8px 17px 2px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header .logo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--font-color);
}

.navbar_list {
  display: flex;
  gap: 23px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
  padding: 0;
}

.navbar-link {
  transition: .3s;
  color: var(--font-color);
  display: inline-block;
  transition: all .3s;
}

.navbar-link.active1,
.navbar-link:hover {
  color: #137efb;
}

.fa-sun:before {
  content: "\f185"; /* Unicode for sun icon */
  color: black;
}

.fa-moon:before {
  content: "\f186"; /* Unicode for moon icon */
  color: white;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-nav-icon[name="Nav_close"] {
  display: none;
}

.mobile-nav-icon,
.dark-mode-toggle {
  fill: white;
  cursor: pointer;
}
/* Dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown button */
#darkModeDropdown {
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 120px;
  z-index: 1;
}

/* Dropdown content links */
.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dropdown content links on hover */
.dropdown-content a:hover {
  background-color: #137efb;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* ===============================
            Section
=============================== */
.section:nth-child(even) {
  background-color: #eee !important;
}

.section:nth-child(odd) {
  background-color: #fff !important;
}

/* ===============================
        Hero Section
=============================== */
.section-hero{
  padding: 96px 0;
  background-color: #eee;
  height: 100vh;
  top: 0;
}

.container{
    margin: 0 auto;
    max-width: 1070px;
    padding: 0 40px;
}

.content{
    align-items: center;
    display: flex;
    gap: 100px;
    height: 650px;
    justify-content: center;
    position: relative;
}
.hero-main{
    align-items: center;
    display: flex;
    gap: 168px;
    justify-content: center;
    position: relative;
}
.hero-text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: relative;
}
.hero-text h1{
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.hero-text img{
    height: 60px;
    position: absolute;
    right: 130px;
    top: 87px;
    width: 60px;
}
.hero-text p{
    color: var(--paragraph-color);
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}
.hero-text .social-logo{
    cursor: pointer;
    display: flex;
    gap: 13px;
    margin: 25px 0;
}
.hero-text .social-logo a{
    color: #2d2e32;
    font-size: 30px;
}
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  width: 128px;
}
.button:active {
  transform: scale(0.96);
}
.skill {
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 17px;
    left: 0;
    position: absolute;
}
.skill p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin-right: 70px;
    padding-right: 20px;
    font-size: 17px;
}
.skill ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}
.skill ul li {
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    cursor: pointer;
    display: flex;
    height: 65px;
    justify-content: center;
    width: 65px;
}

.logos ul li {
  transition: transform 0.1s ease-in-out;
}

/* ===============================
        About Section
=============================== */
.section-about{
  padding: 96px 0;
  background-color: var(--primery-color);
  min-height: 655px;
  top: 0;
  background-color: #fff;
  padding: 150px 0;
}

.about-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.img-side {
  position: relative;
}
.work-emoji {
  bottom: 8px;
  position: absolute;
  right: 102px;
  width: 60px!important;
  z-index: 10;
}
.img-side__main-img {
  border-radius: 17px;
  height: 350px;
  width: 410px;
}
.img-side span {
  background-color: #fff;
  border-radius: 50%;
  bottom: -33px;
  height: 190px;
  position: absolute;
  right: 33px;
  width: 190px;
}
.img-side span img {
  -webkit-animation: rotate 9s linear infinite;
  animation: rotate 9s linear infinite;
  width: 190px;
}
@keyframes rotate{
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
}
}
.text-side {
  padding-right: 15px;
}
.text-side h3 {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.text-side h4 {
  font-family: Poppins,sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
.text-side p {
  color: #767676;
  font-family: Mulish,sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}
/* ===============================
        Projects Section
=============================== */

.section-project {
  background-color: var(--primery-color);
  height: auto;
  top: 0;
}

.project {
  padding: 74px 0;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-content p {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.project-content h3 {
  font-size: 25px;
  margin-bottom: 60px;
}

.projects-grid {
  grid-gap: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}

.projects-grid .pro__1 {
  flex-direction: row;
  gap: 80px;
  height: 400px;
  padding: 20px;
}

.projects-grid .pro {
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.projects-grid .pro__img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  width: 530px;
}

.element.style {
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}

.projects-grid .pro__text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 300px;
}

.projects-grid .pro__text h3 {
  font-size: 17px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}

.projects-grid .pro__text p {
  color: #767676;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.project-content p {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.stack {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.stack p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000 !important;
  font-family: Mulish, sans-serif !important;
  font-weight: 600 !important;
  padding: 10px 13px;
}

.links,
.links a {
  align-items: center;
  display: flex;
}

.links {
  gap: 10px;
  justify-content: space-evenly;
  margin-top: 30px;
}

.links a i {
  font-size: 20px;
}

.projects-grid .pro__text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 300px;
}

.links a {
  font-size: 17px;
  font-weight: 500;
  gap: 5px;
  text-decoration: none;
  color: #2D2E32;
}

.projects-grid .pro__1 {
  flex-direction: row;
  gap: 80px;
  height: 400px;
  padding: 20px;
}

.projects-grid .pro {
  background-color: #fff;
  border-radius: 37px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.projects-grid .pro__img img {
  width: 100%;
  height: auto;
  transition: transform 7s ease-in-out; /* Added a transition property */
}

/* Hover effect: Scroll image from top to bottom */
.projects-grid .pro__img:hover img {
  transform: translateY(-50%); /* Adjust this value to control the amount of scroll */
}

.reversed-proj {
  flex-direction: row-reverse!important;
}

/* ===============================
        Contact Section
=============================== */
.section-contact{
  background-color: var(--primery-color);
  top: 0;
  position: relative;
}
.contact {
  padding: 112px 0;
}
.contact__content {
  display: flex;
  flex-direction: column;
}
.contact__title p {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contact__title h3 {
  font-size: 25px;
}
.contact__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 60px;
}
.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 15px;
}
.contact__icon-box span {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 23px;
}
.contact__icon-box span i {
  color: #147efb;
  font-size: 30px;
}
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 05px;
}
.contact__info h3 {
  font-size: 17px;
}
.contact__info a, .contact__info p {
  color: #767676;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
}
.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 15px;
}
.contact__icon-box span {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 23px;
}
.contact__icon-box span i {
  color: #147efb;
  font-size: 30px;
}


/* Apply the rotation animation to the icons when hovered */
.contact__icon-box span i {
  transition: transform 1s ease;
}
/* Apply the rotation animation to the icons when hovered */
.contact__icon-box span:hover i {
  transform: rotate(360deg);
}
/* ===============================
            footer
=============================== */
.footer{
    padding: 0 100px ;
    height: 8.6vh;
    width: 100%;
    background-color: #2D2E32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-text{
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

.footer-text{
    color: white;
    padding-left: 100px;
    margin-top: 31px;
    position: absolute;
}

.social_list{
    display: flex;
    gap: 23px;
    float: right;
    padding-right: 100px;
    margin-top: 31px;
}

.socail-link{
    transition: .3s;
}

.footer_container{
    display: flex;
    height: 90px;
}

.box1{
    flex: 1;
    width: 100%;
    height: 90px;
    background-color: #2D2E32;
}

.box2{
    flex: 1;
    width: 100%;
    height: 90px;
    background-color: #2D2E32;
    margin-left: auto;
    align-items: center;
}



:root {
  --text: #2B3044;
  --line: #BBC1E1;
  --line-active: #275EFE;
}

p {
  font-size: 18px;
  margin: 0;
  color: var(--text);
}
p a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}
p a svg {
  width: 76px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}
p a:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}
 
.Live_demo p a svg {
  width: 207px;
  height: 63px;
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 1.2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}






.skill_bar_section * {
  font-family: Nunito, sans-serif;
}

.skill_bar_section .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  /* line-height: 25px; */
  font-size: 16px;
}

.skill_bar_section .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.skill_bar_section .responsive-cell-block {
  min-height: 75px;
  width: 422px;
  margin-left: 0;
}

.skill_bar_section .responsive-container-block{
  /* margin-top: 50px; */
  margin-right: auto;
  /* margin-bottom: 50px; */
  margin-left: auto;
  justify-content: center;
  max-width: 1320px;
  overflow-x: hidden;
  overflow-y: visible;
}

.skill_bar_section .responsive-container-block.big-container {
  padding-top: 0px;
  /* padding-right: 50px; */
  padding-bottom: 0px;
  /* padding-left: 50px; */
}

.skill_bar_section .text-blk.section-head {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  max-width: 580px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 55px;
  margin-left: 0px;
}

.skill_bar_section .text-blk.skill-name {
  font-size: 12px;
  /* line-height: 27px; */
  font-weight: 600;
}

.skill_bar_section .skill-bar {
  height: 6px;
  background-color: #ffffff;
}

.skill_bar_section .skills {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 70px;
  margin-left: 0px;
  position: relative;
  max-width: 422px;
}

.skill_bar_section .skill-per {
  height: 6px;
  background-color: #FF6D00;
  width: 0px;
  transition-duration: 1.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transition-property: all;
}

.skill_bar_section .skills-name-box {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 24px;
  margin-left: 0px;
}

.skill_bar_section .skill-per::after {
  position: absolute;
  content: attr(percentage) "%";
  top: 0px;
  right: 0px;
  font-size: 12px;
  font-weight: 700;
}

.skill_bar_section .skill-per.two {
  background-color: #039BE5;
}

.skill_bar_section .skill-per.three {
  background-color: #FFD600;
}

/* .skill_bar_section .skill-per.four {
  background-color: #0DCF83;
} */

.skill_bar_section .skill-per.five {
  background-color: #0DCF83;
}

.skill_bar_section .skill-per.six {
  background-color: #2FA3F6;
}

.skill_bar_section .skill-per.seven {
  background-color: #F69501;
}

/* .skill_bar_section .skill-per.eight {
  background-color: #fed066;
} */

.skill_bar_section .circle {
  max-width: 536px;
  max-height: 536px;
  width: 100%;
  height: 100%;
  background-color: #fed066;
  border-top-left-radius: 270px;
  border-top-right-radius: 270px;
  border-bottom-right-radius: 270px;
  border-bottom-left-radius: 270px;
  position: absolute;
  left: 25%;
  bottom: -10%;
}

.skill_bar_section .img {
  width: 130%;
  position: relative;
  right: -30%;
  box-shadow: rgba(0, 0, 0, 0.1) 6px 12px 24px;
}

.skill_bar_section .right-side {
max-width: 422px;
margin-left: auto;
margin-top: 24px;
}

.skill_bar_section .responsive-container-block.big-container {
  padding-top: 0px;
  padding-bottom: 0px;
}
.more-skill{
  text-decoration: none;
  text-align: right;
  color: #2C2D2F;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: block; 
  text-align: right;
  text-decoration: underline;
  font-size: 12px;
}
.skills-content{
  padding: 74px 0;
}
.skill-bar, .skill-per{
  height: 4px !important;
}
/* @media (max-width: 955px) {
  .skill_bar_section .img {
    right: 0px;
    left: 0px;
    width: 100%;
  }

  .skill_bar_section .circle {
    left: -10%;
    bottom: -15%;
    right: 0px;
  }

  .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-9.wk-tab-10.wk-desk-6.left-one {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
  }

  .responsive-container-block {
    justify-content: center;
  }

  .responsive-cell-block {
    margin: 0 auto;
  }

  .right-side {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-9.wk-tab-10.wk-desk-6.left-one {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-tab-11.wk-desk-6.wk-ipadp-10 {
    min-height: 450px;
  }

  .skill_bar_section .text-blk.skill-name {
    font-size: 18px;
  }

  .skill_bar_section .text-blk.section-head {
    font-size: 30px;
    line-height: 40px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
} */
.left-one{
  margin: auto;
}
@media (max-width: 955px) {
  .skill_bar_section .responsive-cell-block{
    margin-left: auto;
    margin-right: auto;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');



.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

/* .wk-desk-6 {
  width: 50%;
} */

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 955px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  /* .wk-ipadp-9 {
    width: 75%;
  } */

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 955px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  /* .wk-tab-10 {
    width: 83.333333%;
  } */

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 955px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  /* .wk-mobile-12 {
    width: 100%;
  } */
}
