@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --font-color: #2D2E32; 
    --paragraph-color: #555;
    --primery-color: #eee;
    --secondary-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  
}
/* ===============================
          Back To Top
=============================== */
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

/* ===============================
            Intro
=============================== */
.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999999;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -1000;
  color: white;
  text-align: center;
  transition: all 0.5s;
}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

/* ===============================
            Header
=============================== */

.header{
    position: sticky;
    padding: 0 100px ;
    height: 8.6vh;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: -1px 8px 17px 2px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    color: var(--font-color);
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}
.navbar_list{
    display: flex;
    gap: 23px;
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
}
.navbar-link{
    transition: .3s;
}
.navbar-link:visited,
.navbar-link:link{
    color: var(--font-color);
    display: inline-block;
    transition: all .3s;
}
.navbar-link.active1,
.navbar-link:hover{
    color: #137efb;
}
.mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
}
.mobile-nav-icon[name="Nav_close"]{
    display: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.sticky + .content {
  padding-top: 102px;
}

/* ===============================
            Section
=============================== */

.section-hero,
.section-service{
    padding: 96px 0;
    background-color: var(--primery-color);
    height: 100vh;
    top: 0;
}

.section-about{
    padding: 96px 0;
    background-color: var(--primery-color);
    min-height: 655px;
    top: 0;
}

.section-service{
    background-color: var(--secondary-color);
}

.section-hero p,
.section-service p{
    font-size: 32px;
}

/* ===============================
        Hero Section
=============================== */
.container{
    margin: 0 auto;
    max-width: 1070px;
    padding: 0 4rem;
}
.content{
    align-items: center;
    display: flex;
    gap: 100px;
    height: 650px;
    justify-content: center;
    position: relative;
}
.hero-main{
    align-items: center;
    display: flex;
    gap: 168px;
    justify-content: center;
    position: relative;
}
.hero-text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: relative;
}
.hero-text h1{
    color: var(--font-color);
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.hero-text img{
    height: 60px;
    position: absolute;
    right: 130px;
    top: 87px;
    width: 60px;
}
.hero-text p{
    color: var(--paragraph-color);
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}
.hero-text .social-logo{
    cursor: pointer;
    display: flex;
    gap: 13px;
    margin: 25px 0;
}
.hero-text .social-logo a{
    color: #2d2e32;
    font-size: 30px;
}
.skills {
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 17px;
    left: 0;
    position: absolute;
}
.skills p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin-right: 70px;
    padding-right: 20px;
    font-size: 17px;
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}
.skills ul li {
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    cursor: pointer;
    display: flex;
    height: 65px;
    justify-content: center;
    width: 65px;
}
/* ----------Download Button---------- */
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  width: 128px;
}
.button:active {
  transform: scale(0.96);
}
.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.button.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* ===============================
        About Section
=============================== */
.about {
  background-color: #fff;
  padding: 150px 0;
}
.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 40px;
}
.about-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.img-side {
  position: relative;
}
.work-emoji {
  bottom: 8px;
  position: absolute;
  right: 102px;
  width: 60px!important;
  z-index: 10;
}
.img-side__main-img {
  border-radius: 17px;
  height: 350px;
  width: 410px;
}
.img-side span {
  background-color: #fff;
  border-radius: 50%;
  bottom: -33px;
  height: 190px;
  position: absolute;
  right: 33px;
  width: 190px;
}
.img-side span img {
  -webkit-animation: rotate 9s linear infinite;
  animation: rotate 9s linear infinite;
  width: 190px;
}
@keyframes rotate{
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
}
}
.text-side {
  padding-right: 15px;
}
.text-side h3 {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.text-side h4 {
  color: #2d2e32;
  font-family: Poppins,sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
.text-side p {
  color: #767676;
  font-family: Mulish,sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}
/* ===============================
        Projects Section
=============================== */

.section-project {
  background-color: var(--primery-color);
  height: auto;
  top: 0;
}

.project {
  background-color: #f9f9f9;
  padding: 150px 0;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-content p {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.project-content h3 {
  color: #2d2e32;
  font-size: 25px;
  margin-bottom: 60px;
}

.projects-grid {
  grid-gap: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}

.projects-grid .pro__1 {
  flex-direction: row;
  gap: 80px;
  height: 400px;
  padding: 20px;
}

.projects-grid .pro {
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.projects-grid .pro__img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  width: 530px;
}

.element.style {
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}

.projects-grid .pro__text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 300px;
}

.projects-grid .pro__text h3 {
  color: #2d2e32;
  font-size: 17px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}

.project-content h3 {
  color: #2d2e32;
  font-size: 25px;
  margin-bottom: 60px;
}

.projects-grid .pro__text p {
  color: #767676;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.project-content p {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.stack {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.projects-grid .pro__text p {
  color: #767676;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.stack p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000 !important;
  font-family: Mulish, sans-serif !important;
  font-weight: 600 !important;
  padding: 10px 13px;
}

.links,
.links a {
  align-items: center;
  display: flex;
}

.links {
  gap: 10px;
  justify-content: space-evenly;
  margin-top: 30px;
}

.links a i {
  font-size: 20px;
}

.projects-grid .pro__text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 300px;
}

.links a {
  color: #2d2e32;
  font-size: 17px;
  font-weight: 500;
  gap: 5px;
  text-decoration: none;
}

.projects-grid .pro__1 {
  flex-direction: row;
  gap: 80px;
  height: 400px;
  padding: 20px;
}

.projects-grid .pro {
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.projects-grid .pro__img img {
  width: 100%;
  height: auto;
  transition: transform 7s ease-in-out; /* Added a transition property */
}

/* Hover effect: Scroll image from top to bottom */
.projects-grid .pro__img:hover img {
  transform: translateY(-50%); /* Adjust this value to control the amount of scroll */
}

.reversed-proj {
  flex-direction: row-reverse!important;
}

/* ===============================
        Contact Section
=============================== */
.section-contact{
  background-color: var(--primery-color);
  top: 0;
  position: relative;
}
.contact {
  background-color: #fff;
  padding: 112px 0;
}
.container01{
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 40px;
}
.contact__content {
  display: flex;
  flex-direction: column;
}
.contact__title p {
  color: #147efb;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contact__title h3 {
  color: #2d2e32;
  font-size: 25px;
}
.contact__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 60px;
}
.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 15px;
}
.contact__icon-box span {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 23px;
}
.contact__icon-box span i {
  color: #147efb;
  font-size: 30px;
}
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 05px;
}
.contact__info h3 {
  color: #2d2e32;
  font-size: 17px;
}
.contact__info a, .contact__info p {
  color: #767676;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
}
.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 15px;
}
.contact__icon-box span {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 23px;
}
.contact__icon-box span i {
  color: #147efb;
  font-size: 30px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 05px;
}
.contact__info h3 {
  color: #2d2e32;
  font-size: 17px;
}
.contact__info a, .contact__info p {
  color: #767676;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
}
.contact__icon-box i {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
/* Apply the rotation animation to the icons when hovered */
.contact__icon-box span i {
  transition: transform 1s ease;
}
/* Apply the rotation animation to the icons when hovered */
.contact__icon-box span:hover i {
  transform: rotate(360deg);
}
/* ===============================
            footer
=============================== */
.footer{
    padding: 0 100px ;
    height: 8.6vh;
    width: 100%;
    background-color: #2D2E32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-text{
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

.footer-text{
    color: white;
    padding-left: 100px;
    margin-top: 31px;
    position: absolute;
}

.social_list{
    display: flex;
    gap: 23px;
    float: right;
    padding-right: 100px;
    margin-top: 31px;
}

.socail-link{
    transition: .3s;
}

.footer_container{
    display: flex;
    height: 90px;
}

.box1{
    flex: 1;
    width: 100%;
    height: 90px;
    background-color: #2D2E32;
}

.box2{
    flex: 1;
    width: 100%;
    height: 90px;
    background-color: #2D2E32;
    margin-left: auto;
    align-items: center;
}



:root {
  --text: #2B3044;
  --line: #BBC1E1;
  --line-active: #275EFE;
}

p {
  font-size: 18px;
  margin: 0;
  color: var(--text);
}
p a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}
p a svg {
  width: 76px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}
p a:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}
 
.Live_demo p a svg {
  width: 207px;
  height: 63px;
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 1.2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}